body{
  background: grey;
}

.App{
  margin: 10px;
}

.flex-container {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-vert {
  align-items: center;
}

.flex-horz {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.pika {
  margin-right: 20px;
}

.pos-rel {
  position: relative;
}